/* CSS For Dropdown Menu Start */



.sublinks a
{
  color:#000000;
  background:#f6f6f6;
  border-bottom:1px solid #cccccc;
  font-weight:normal;
  text-decoration:none;
  display:block;
  /*width:100px;*/
  text-align:center;
  margin-top:2px;
  font-size:11px;
}

.sublinks a:hover
{
  color:#000000;
  background:#FFEFC6;
  font-weight:normal;
  text-decoration:none;
  display:block;
  /*width:100px;*/
  text-align:center;
  font-size:11px;
}

.sublinks
{
	display:none;
	font-size:11px;
}

/* CSS For Dropdown Menu End */



#container
{
  margin:0px auto;
  width:120px;
  display:inline;
  height:20px;
}
.menucontainer
{
  margin:0px auto;
  width:120px;
  display:inline;
  height:20px;
}
.clear
{
  clear:both;
}

.left
{
  float:left;
}

.right
{
  float:right;
}
